<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->


<h1>I am quite interested in what happens here</h1>

    <h1>{{ title }} app is running! jokes</h1>

    <p>{{ name}} what can they know</p>
    <app-test></app-test>
    <a routerLink="/signin">Home Page</a>
    <a routerLink="/product">Product</a>


 
<router-outlet>

</router-outlet>
